<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cocktail Exam</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'">Search</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <select class="form-select" (change)="onChangeLanguage($event)">
            <option value="EN" selected>English</option>
            <option value="ES">Español</option>
            <option value="DE">Deutsch</option>
            <option value="IT">Italiano</option>
            <option value="FR">Français</option>
            <option value="ZH-HANS">简体中文</option>
            <option value="ZH-HANT">繁體中文</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>